<h1>Stocks</h1>

<div id="stocks">
  <% @stocks.each do |stock| %>
    <% if stock.user_id == current_user.id %>
      <%= render stock %>
      <p>
        <%= link_to "Show this stock", stock %>
      </p>
    <% end %>
  <% end %>
</div>

<%= link_to "New stock", new_stock_path %>

</br></br>
<% @stocks.each do |te|%>
  <%= te.ticker %>
<% end %>